In [1]:
import pandas as pd

In [4]:
#Import file
file = r'C:\Users\Patrick Holyoake\Desktop\DA_Bootcamp\Homework\Week_3\python-challenge\PyPoll\Resources\election_data.csv'

In [7]:
#Read file into pandas dataframe
df = pd.read_csv(file)

#Check to see if it has worked properly
df.head(3)

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan

In [10]:
#Find total votes
index = df.index
number_of_rows = len(index)
number_of_rows

1048575

In [12]:
unique = df["Candidate"].unique()
unique

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [26]:
count = df["Candidate"].value_counts()
count

Khan        661583
Correy      209046
Li          146360
O'Tooley     31586
Name: Candidate, dtype: int64

In [27]:
count_p = df["Candidate"].value_counts("%")
count_p

Khan        0.630935
Correy      0.199362
Li          0.139580
O'Tooley    0.030123
Name: Candidate, dtype: float64

In [25]:
Khan_P = 661583/1048575
Correy_P = 209049/1048575
Li_P = 146360/1048575
OTootley_P = 31586/1048575
print(Khan_P)

0.6309353169778033

In [34]:
print(count  + count_p)

Khan        661583.630935
Correy      209046.199362
Li          146360.139580
O'Tooley     31586.030123
Name: Candidate, dtype: float64